/************************************************************
FONTS
************************************************************/
@font-face {
    font-family: "BTP regular";
    src: url("./fonts/btp/aa_btp-webfont.woff2");
}
@font-face {
	font-family: 'BTP light';
	src: url("./fonts/btp/aa_btp_light-webfont.woff2") ;
}

@font-face {
	font-family: 'BTP rotated';
	src: url("./fonts/btp/aa_btp_rotated-webfont.woff2") ;
}

@font-face {
	font-family: 'BTP';
	src: url("./fonts/btp/aa_btp-webfont.woff2") ;
}

@font-face {
	font-family: 'BTPG book';
	src: url("./fonts/btpg/BTPG-book.ttf") format("truetype");
}







/**************************MAIN*/
.main {
	margin:0;
	padding:0;
	position:fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	top:0;
	right:0;
	width:100vw;
	height:100vh;
	box-sizing: border-box;
	background-color:rgba(255, 255, 255, 0.8);
}
.swipe-enter-active, .swipe-leave-active {
	transition: right 0.5s linear;
	-webkit-transition: right 0.5s linear;
	-moz-transition: right 0.5s linear;
	-o-transition: right 0.5s linear;
	-ms-transition: right 0.5s linear;
	transition: right 0.5s linear;
}
.swipe-enter, .swipe-leave-to{
	right:-100vw !important;
}

.swipe-enter-to, .swipe-leave{
	right:0 !important;
}



/*loading page*/
.main.loading {
	background-color:rgba(255, 255, 255, 1);
}
#mainLoading {
	position:absolute;
	top:50vh;
	left:50vw;
	width:320px;
	transform:translate(-50%, -50%);	
}
.mobile #mainLoading{
	width:68vw;
}
#mainLoading p {
	text-align:center;
}
#mainLoading img {
	width:100%;
	height:auto;
}
.swipe-loading-enter-active, .swipe-loading-leave-active {
	transition: opacity 0.4s linear;
	-webkit-transition: opacity 0.4s linear;
	-moz-transition: opacity 0.4s linear;
	-o-transition: opacity 0.4s linear;
	-ms-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
}
.swipe-loading-enter, .swipe-loading-leave-to{
	opacity:0;
}
.swipe-loading-enter-to, .swipe-loading-leave{
	opacity:1;
}

/*help*/
.main.help{
	background-color: rgba(255, 255, 255, 0);
}
#contentHelp{
	position:absolute;
	width:calc(16.6vw * 4);
	left:calc(16.6vw * 2);
	top:0;
	bottom:0;
	background-color: rgba(255, 255, 255, 1);
}
#contentHelp img {
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

.swipe-help-enter-active, .swipe-help-leave-active {
	transition: opacity 0.4s linear;
	-webkit-transition: opacity 0.4s linear;
	-moz-transition: opacity 0.4s linear;
	-o-transition: opacity 0.4s linear;
	-ms-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
}
.swipe-help-enter, .swipe-help-leave-to{
	opacity:0;
}

.swipe-help-enter-to, .swipe-help-leave{
	opacity:1;
}








  

.mobile .main {
	padding-left:8vw;
	padding-right:8vw;
}

.etat {
	color:white;
	background-color:rgba(0, 0, 0, 0.8);
}

.content-section:hover .linkScene {
	opacity:1;
}

.linkContent {
	color: #ff3300;
	display:block;	
	text-decoration: underline;
}
.mobile .linkContent {
	margin-bottom:16px;
}

.linkScene {
	display:block;
	text-align:right;
	margin-top:30px;
	margin-bottom:30px;
	opacity:0.4;

	display:none;
}

.linkScene.hidden {
	opacity:0.4;
}

.linkScene a {
	background-color: #ff3300;
	color:white;
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
}

#backToContent {
	background-color: #ff3300;
	color:white;
	padding-left:10px;
	padding-right:10px;
	text-align:right;
	position:fixed;
	bottom:1vw;
	right:1vw;	
}

#back {
	background-color: #ff3300;
	color:white;
	padding-left:10px;
	padding-right:10px;
	position:fixed;
	bottom:1vw;
	left:1vw;	
}


#buttons {
	position:fixed;
	bottom:1vw;
	left:34px;
	width: 180px;
}



.button  {
	background-color: #ff3300;
	color:white;

	padding-left:10px;
	padding-right:10px;
	text-align:center;
	display:block;
	position:relative;

	margin-top:8px;
	margin-bottom:8px;
}

.buttonHidden {
	color:rgba(255, 255, 255, 0.5);
}




/**************************TITLES*/
h1 {
	margin:0;
	padding:0;
	font-weight: normal;
	font-family: 'BTPG book';
	font-size:50px;	
	margin-top:150px;	
	margin-bottom:calc(30px + 0.8vw);
}

.underlined {
	border-bottom: 0.6vw solid black;
    padding: 0 0 4px;
	line-height: 140%;
}

.etat .underlined {
	border-bottom: 0.6vw solid white;
}

.mobile h1{
	font-size:80px;
	margin-top:150px;
	margin-bottom:66px;	
	text-align: left;
	border-bottom: 8px solid black;
	min-height:160px;
}

.mobile .etat h1 {
	border-bottom: 0.6vw solid white;
}

.mobile .underlined {
	border-bottom: none;
}

h2 {
	margin:0;
	padding:0;
	font-family: 'BTP regular';
	font-weight: normal;
	font-size:22px;	
	margin-bottom:30px;
	margin-top:60px;
}

.mobile h2 {
	font-size:60px;
	margin-top:60px;
	margin-bottom:60px;
}



.etat img {
	width:100%;
	max-width: fill-available;
	margin-bottom: 1vw;
	margin-top:1vw;
}

.desktop .separator {
	margin-bottom:60px;
}

.mobile .separator {
	height:0;
	width:100%;
	border-bottom: 8px solid black;
	display:block;

	margin-bottom: 60px;
	margin-top: 60px;
}



.nomargin  {
	margin:0 !important;
}

.desktop .align-center {
	display:flex;
	align-items: center;
	margin-bottom:60px;
}

.desktop .align-top {
	display:flex;
	align-items: start;
	margin-bottom:60px;
}

.desktop .align-bottom {
	display:flex;
	align-items: end;
	margin-bottom:60px;
}

.etat .align-bottom, .etat .align-top, .etat .align-center {
	margin:0;
}

.mobile .flex1, .mobile .flex2, .mobile .flex3, .mobile .flex4, .mobile .flex5, .mobile .flex6 {
	margin-bottom:30px; 
}


.desktop .flex1 {
	flex:16.66%;
}
.desktop .flex2 {
	flex:33.33%;
}
.desktop .flex3 {
	flex:50%;
}
.desktop .flex4 {
	flex:66.66%;
}
.desktop .flex5 {
	flex:83.33%;
}
.desktop .flex6 {
	flex:100%;
}

.desktop .width1 {
	width:16.6vw;
}
.desktop .width2 {
	width:calc(16.6vw * 2);
}
.desktop .width3 {
	width:calc(16.6vw * 3);
}
.desktop .width4 {
	width:calc(16.6vw * 4);
}
.desktop .width5 {
	width:calc(16.6vw * 5);
}

.desktop .left50 {
	margin-left:50%;
}
.desktop .left25 {
	margin-left:25%;
}
.desktop .left33 {
	margin-left:33.33%;
}
.desktop .left66 {
	margin-left:66.66%;
}
.desktop .left75 {
	margin-left:75%;
}
.desktop .left16 {
	margin-left:16.66%;
}


/******************************fonts*****************************/
.btp-regular {
	font-family: 'BTP regular';
}

.btpg-regular {
	font-family: 'BTPG book';
}

.btp-light {
	font-family: 'BTP light';
}

.desktop .btp-regular, .desktop .btpg-regular{
	font-size: 18px;
}
.desktop .btp-light, .desktop .btpg-light{
	font-size: 16px;
}


.mobile .btp-regular, .mobile .btpg-regular{
	font-size: 44px;
}
.mobile .btp-light, .mobile .btpg-light{
	font-size: 44px;
}

.etat a {
	color:white;
	display:block;
}




/************************************************************
GLOBAL
************************************************************/

.desktop .gutter{
	padding-left:1vw;
	padding-right:1vw;
	box-sizing: border-box;
}



p {
	margin-top:0;
	padding-top:0;	
}

img, video {
	max-width: 100%;
}


.gallery {
	display:flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding:0 !important;
	padding-right:1vw !important;
}

.thumbnail {
	padding-left:1vw;
	padding-bottom:1vw;
	flex:50%;
	max-width:50%;
	box-sizing: border-box;

}

.mobile .thumbnail {
	padding-bottom:1vh;
	flex:100%;
	max-width:100%;
	box-sizing: border-box;
}

.flip {
	transform: scaleX(-1);
}










body {
    margin:0;
    padding:0;
	overflow: hidden;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

.hovered {
	cursor: pointer !important;
}

.mouseTarget {
	pointer-events: auto;
}

.mouseTarget:hover {
	cursor: pointer !important;
}


/*todo : le css de la scene n'est pas pris en compte (sauf resize) s'il n'est pas mis ici */
#scene {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;	
}



/*****************************
ETAT
*****************************/
.imgAFP {
    margin-bottom: 25px;
}







